#datetime-picker {
  font-family: 'Montserrat', sans-serif;
  padding: 8px 16px;
  width: 272px;
  max-height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 32px;
  margin-right: 8px;

  transition: border 250ms ease-in-out, background-color 250ms ease-in-out,
    color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:active {
  border: 1px solid #4e75ff;
}

.input-disabled {
  border: 1px solid #808080;
  background-color: #fafafa;
  color: #808080;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.data-start-btn {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms ease-in-out;
}

.data-start-btn:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.data-start-btn:hover {
  background-color: #6c8cff;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

.fa-circle-xmark {
  fill: #fff;
}
